.btn {
    width: 100px;
    height: 50px;
    background-color: rgb(111, 139, 192);
    border: 1px solid greenyellow;
    border-radius: 5px;
}

.btn:hover {
    background-color: green;
}

.btn2:hover{
    color: antiquewhite;
    
}

.btn2::before {
    content: 'Pasa encima de mi';
    font-size: xx-small;
}

.btn2:hover::after {
    content: 'Hecho!';
    font-size: xx-small;
    
}

.btn2:hover::before {
    opacity: 0;
}





/*span.frase::before {
    content: '<<';
    font-size: xx-small;
}

span.frase::after {
    content: '>>';
    font-size: xx-small;
}